In [2]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv("green_tripdata_2019-10.csv")
data.head()

/tmp/ipykernel_11061/1937454885.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("green_tripdata_2019-10.csv")

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2.0,1.0,0.0
1,1.0,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2.0,1.0,0.0
2,1.0,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2.0,1.0,0.0
3,1.0,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2.0,1.0,0.0
4,2.0,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1.0,1.0,0.0

In [9]:
data['lpep_pickup_datetime'] = pd.to_datetime(data['lpep_pickup_datetime'])
data['lpep_dropoff_datetime'] = pd.to_datetime(data['lpep_dropoff_datetime'])

#### Create a connection to Postgres using SQLAlchemy

In [3]:
from sqlalchemy import create_engine

In [4]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

#### Convert the DataFrame to a DDL format

In [15]:
print(pd.io.sql.get_schema(data, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In order to ensure fast running time, the data will be divided into chunks of 100000 rows

In [16]:
df_iter = pd.read_csv('green_tripdata_2019-10.csv', iterator=True, chunksize=100000)
df = next(df_iter)
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1.0,0.00
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1.0,0.00
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1.0,0.00
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1.0,0.00
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2019-10-08 15:45:56,2019-10-08 15:54:45,N,1,95,95,1,0.85,7.0,0.00,0.5,0.00,0.0,NaN,0.3,7.80,2,1.0,0.00
99996,2,2019-10-08 15:43:31,2019-10-08 15:50:11,N,1,74,41,1,0.53,6.0,0.00,0.5,0.00,0.0,NaN,0.3,6.80,2,1.0,0.00
99997,2,2019-10-08 15:57:26,2019-10-08 16:17:41,N,1,75,141,1,1.94,13.0,0.00,0.5,2.98,0.0,NaN,0.3,19.53,1,1.0,2.75
99998,2,2019-10-08 14:58:24,2019-10-08 15:03:40,N,1,33,33,1,0.89,6.0,0.00,0.5,1.36,0.0,NaN,0.3,8.16,1,1.0,0.00
99999,2,2019-10-08 15:10:20,2019-10-08 15:17:44,N,1,33,40,1,1.24,7.0,0.00,0.5,0.00,0.0,NaN,0.3,7.80,2,1.0,0.00

In [17]:
df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])

##### Insert data into Postgres table in chunks

In [23]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [24]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: user 7.23 s, sys: 107 ms, total: 7.34 s
Wall time: 10.4 s

1000

In [25]:
from time import time

In [26]:
while True:
    start = time()
    df = next(df_iter)
    df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
    df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])

    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
    end = time()

    print("Another chunk added!. Total time: %.3f" % (end-start))

Another chunk added!. Total time: 11.096
Another chunk added!. Total time: 10.999

/tmp/ipykernel_11061/2872075530.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Another chunk added!. Total time: 11.058
Another chunk added!. Total time: 6.876

StopIteration:

In [5]:
zones = pd.read_csv("taxi_zone_lookup.csv")

In [6]:
zones.to_sql(name='taxi_zones', con=engine, if_exists='replace')

265